@import "syntax-variables";

atom-text-editor,atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter,atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line,atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection,atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide,atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide,atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character,atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region,atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor,atom-text-editor .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region,atom-text-editor .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line,atom-text-editor .line-number.cursor-line-no-selection,atom-text-editor .line.cursor-line {
  background-color: #333333;
}

.syntax--comment {
  color: #444444;
}

.syntax--string {
  color: #C56C6C;
}

.syntax--constant.syntax--numeric {
  color: #C56C6C;
}

.syntax--constant.syntax--language {
  color: #04C4A5;
}

.syntax--constant.syntax--character, .syntax--constant.syntax--other {
  color: #04C4A5;
}

.variable {
}

.syntax--keyword {
  color: #C5906C;
}

.syntax--storage {
  color: #04C4A5;
}

.syntax--storage.syntax--type {
  color: #9474a9;
}

.syntax--entity.syntax--name.syntax--class {
  text-decoration: underline;
  color: #04C4A5;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #04C4A5;
}

.syntax--entity.syntax--name.syntax--function {
  color: #3fb4c5;
}

.syntax--variable.syntax--parameter {
  font-style: italic;
}

.syntax--entity.syntax--name.syntax--tag {
  color: #9474a9;
}

.syntax--entity.syntax--other.syntax--attribute-name {
  color: #04C4A5;
}

.syntax--support.syntax--function {
  color: #E2E060;
}

.syntax--support.syntax--constant {
  color: #04C4A5;
}

.syntax--support.syntax--type, .syntax--support.syntax--class {
  font-style: italic;
  color: #04C4A5;
}

.support.other.variable {
}

.syntax--invalid {
  color: #f8f8f0;
  background-color: #111;
}

.syntax--invalid.syntax--deprecated {
  color: #f8f8f0;
  background-color: #00a8c6;
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: #C56C6C;
}

.syntax--meta.syntax--diff, .syntax--meta.syntax--diff.syntax--header {
  color: #75715E;
}

.syntax--markup.syntax--deleted {
  color: #00A8C6;
}

.syntax--markup.syntax--inserted {
  color: #A6E22E;
}

.syntax--markup.syntax--changed {
  color: #E6DB74;
}

.syntax--constant.syntax--numeric.line-number.syntax--find-in-files:not(.match) {
  color: rgba(143, 190, 0, 0.63);
}

.syntax--entity.syntax--name.syntax--filename.syntax--find-in-files {
  color: #E6DB74;
}

.syntax--keyword.syntax--other {
  color: #666666;
}

.syntax--meta.syntax--property-value, .syntax--support.syntax--constant.syntax--property-value, .syntax--constant.syntax--other.syntax--color {
  color: #C56C6C;
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: #04C4A5;
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: #C56C6C;
}

.meta.property-name .support.type.property-name {
}
.meta.function-call {
}

.syntax--meta.syntax--property-value .syntax--punctuation.syntax--separator.syntax--key-value {
  color: #eeeeee;
}

.syntax--keyword.syntax--other.syntax--use, .syntax--keyword.syntax--other.syntax--function.syntax--use, .syntax--keyword.syntax--other.syntax--namespace, .syntax--keyword.syntax--other.syntax--new, .syntax--keyword.syntax--other.syntax--special-method, .syntax--keyword.syntax--other.syntax--unit, .syntax--keyword.syntax--other.syntax--use-as {
  color: #9474a9;
}

.syntax--meta.syntax--use .syntax--support.syntax--class.syntax--builtin, .syntax--meta.syntax--other.syntax--inherited-class .syntax--support.syntax--class.syntax--builtin {
  color: #eeeeee;
}

.syntax--variable.syntax--other {
  color: #eeeeee;
}

.syntax--variable.syntax--parameter.syntax--function.syntax--coffee {
  font-style: italic;
  color: #C56C6C;
}

.syntax--entity.syntax--name.syntax--section.syntax--markdown {
  color: #04C4A5;
}

.syntax--punctuation.syntax--definition.syntax--heading.syntax--markdown {
  color: #C5906C;
}

.syntax--markup.syntax--raw.syntax--inline.syntax--markdown {
  color: #C56C6C;
}

.syntax--punctuation.syntax--definition.syntax--bold.syntax--markdown, .syntax--punctuation.syntax--definition.syntax--italic.syntax--markdown {
  color: #C5906C;
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--markdown, .syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--markdown {
  color: #C5906C;
}

.syntax--punctuation.syntax--definition.syntax--metadata.syntax--markdown {
  color: #C5906C;
}

.syntax--markup.syntax--underline.syntax--link.syntax--markdown, .syntax--markup.syntax--underline.syntax--link.syntax--image.syntax--markdown, .syntax--meta.syntax--image.syntax--inline.syntax--markdown {
  font-style: italic;
  color: #9474a9;
}

.syntax--markup.syntax--bold.syntax--markdown, .syntax--markup.syntax--italic.syntax--markdown {
  color: #9474a9;
}

.syntax--markup.syntax--italic.syntax--markdown {
  font-style: italic;
}

.syntax--markup.syntax--bold.syntax--markdown {
  font-weight: bold;
}

.syntax--markup.syntax--raw.syntax--block.syntax--markdown {
  color: #00a8c6;
}

.syntax--markup.syntax--deleted.git_gutter {
  color: #e61f44;
}

.syntax--markup.syntax--inserted.git_gutter {
  color: #a7da1e;
}

.syntax--markup.syntax--changed.git_gutter {
  color: #f7b83d;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: #C56C6C;
}
